pip==9.0.1
bumpversion==0.5.3
wheel==0.29.0
#watchdog==0.8.3
flake8==2.6.0
tox==2.5.0
coverage==4.1
Sphinx==1.4.8
twine==1.13.0

Markdown<3.0.0
markdown-fenced-code-tabs==1.0.5
unicodecsv==0.14.1

# note_block templating
pystache==0.5.4
